---
---

.can_embed {
	display: flex;
}

.can_embed h2, 
.can_embed h4, 
.can_embed #action_info,
.can_embed #logo_wrap, 
.can_embed #d_sharing,
.can_embed .international_link,
.can_embed .country_drop_wrap,
.can_embed #referral_code_select_wrap,
.can_embed #form-email_friend_message,
.can_embed .mt10,
.can_embed #embed_toggle-open,
.can_embed #embed_toggle-close,
.can_embed #embed_options,
.can_embed .block  {
  display: none;
}

.core_field {
  float: left;
	margin: 10px 10px 10px 10px;
}

.can_embed li {
	list-style-type: none;
}

.can_embed .floatlabel-label {
	display: block;
}

.can_embed .floatlabel-input,
.can_embed .floatlabel-label {
	color: #7a7a7a;
	font-family: "Roboto", Sans-serif;
	font-weight: 400;
}

.can_embed .core_field input {
	background-color: #ffffff;
	flex-basis: 100%;
	border: 1px solid #818a91;
	boarder-radius: 3px;
	padding: 0.5rem 1rem 0.5rem 1rem;
	line-height: 1.4;
	font-size: 15px;
	min-height: 40px;
}

.can_embed input[type="submit"] {
	line-height: 1;
	min-height: 40px;
	pading: 12px 24px 12px 24px;
	border-radius: 3px;
	border-color: #FEB12A;
	cursor: pointer;
	background-color: #FEB12A;
	font-family: "Roboto", Sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #ffffff;
	margin: 0 auto;
	width: 100%;
}

.can_embed .share_button {
	width: 31%;
	margin-right: 3.5%;
	display: block;
	float: left;
	color: #FFFFFF;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	font-family: "Roboto", Sans-serif;
}

.can_embed .share_button.share-facebook {
	background-color:#335795;
}

.can_embed .share_button.share-facebook:hover {
		background-color:#4F74BF;
}

.can_embed .share_button.share-twitter {
	background-color:#00ACED;
}

.can_embed .share_button.share-twitter:hover {
		background-color:#39C7FF;
}

.can_embed h1 {
	font-family: "Roboto", Sans-serif;
}