---
---

.hero__container {
  max-width: 1080px;
}

.hero__heading:before {
  @media (min-width: 768px) {
    left: 50%;
    transform: translate(-200px, 0px);
  }
}

.header__logo {
  @media (max-width: 767px) {
    margin: 0 auto;
  }
  img {
    width: 170px;
  }
}

.main__block.impact {
  background: white;
  color: #07040a;
  @media (min-width: 768px) {
    padding: 50px 20px;
  }
  @media (min-width: 1024px) {
    padding: 130px 20px;
    margin-bottom: 0px;
  }
  .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    align-items: center;
    gap: 0px;
    @media (min-width: 768px) {
      gap: 100px;
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1024px) {
      max-width: 850px;
    }
    @media (min-width: 1280px) {
      max-width: 1030px;
    }
  }
  .impact__heading {
    max-width: 530px;
    margin: 0 auto;
    padding: 0;
  }
  .impact__copy {
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }
    span {
      font-weight: bold;
    }
  }
}

.main__block.pledge {
  padding-top: 80px;
  @media (min-width: 768px) {
    padding-top: 130px;
  }
  @media (min-width: 1024px) {
    padding-top: 160px;
  }
}

.hamburger {
  display: none !important;
}

// .can_embed #can_embed_form {
//   border: 0 !important;
//   padding: 0 !important;
// }

// body .can_embed {
//   #can_embed_form input[type=text], #can_embed_form input[type=password], #can_embed_form input[type=url], #can_embed_form input[type=email], #can_embed_form input[type=tel], #can_embed_form input[type=number] {
//     background: black !important;
//     color: white !important;
//     border: 3px solid #f2f2f2 !important;
//     font-family: ff-real-headline-pro,sans-serif !important;
//     &::placeholder {
//       color: #7c7a7d !important;
//       opacity: 1;
//     }
//   }

//   #can_embed_form .check_radio_field label, #mobile_opt_in_default {
//     color: white !important;
//     text-transform: capitalize;
//   }

//   #can_embed_form form li.control-group, #can_embed_form form li.core_field {
//     margin-bottom: 9px !important;
//   }
//   #can_embed_form .floatlabel-wrapper .floatlabel-label-active, 
//   #can_embed_form .floatlabel-wrapper .floatlabel-label,
//   #can_embed_form .can_thank_you-block:first-child>label.graytext {
//     display: block !important;
//     opacity: 1 !important;
//     top: -17px!important;
//     left: -3px !important;
//     text-transform: uppercase !important;
//     color: white !important;
//     font-weight: 600 !important;
//     font-size: 10px !important;
//     font-family: ff-real-headline-pro,sans-serif !important;
//     &:after {
//       background-color: transparent !important;
//     }
//   }
//   #can_embed_form .floatlabel-wrapper .floatlabel-label-active {
//     &:after {
//       color: #d2a5ff !important;
//     }
//   }
  

//   #can_embed_form #can_thank_you {
//     h1 {
//       color: white !important;
//     }
//   }

//   #can_embed_form #can_thank_you #action_thank_you_text a {
//     color: #ffbb3b!important;
//   }

//   #can_embed_form label.check_radio_label {
//     display: block !important;
//     opacity: 1 !important;
//     top: -9px!important;
//     left: 0px !important;
//     text-transform: uppercase !important;
//     color: white !important;
//     font-weight: 600 !important;
//     font-size: 10px !important;
//     font-family: ff-real-headline-pro,sans-serif !important;
//   }
//   // #can_embed_form .control-group.checkbox_group_wrap:first-of-type {
//   //   z-index: 10 !important;
//   //   margin-bottom: 40px !important;
//   //   .check_radio_field {
//   //     position: absolute !important;
//   //     z-index: 13 !important;
//   //     background-color: red !important;
//   //     border: 2px solid white !important;
//   //     left: -1px !important;
//   //     top: 5px !important;
//   //     width: 100%;
//   //     box-sizing: border-box;
//   //     padding-left: 10px !important;
//   //     display: block !important;
//   //   }
//   // }
//   #can_embed_form .check_radio_field {
//     margin-top: -10px !important;
//     border: 3px solid white !important;
//     padding: 9px 16px !important;
//     width: 100% !important;
//   }
// }


.can_embed #can_embed_form {
  background: #07040a !important
}
#action_welcome_message_inner {
  color: white;
}

#form_col1-pagination input[type="submit"], #form_col2 input[type="submit"] {
  display: block !important;
}

.pledge__form label {
  color: white;
}
#can_embed_form input[type=text], #can_embed_form input[type=url], #can_embed_form input[type=email], #can_embed_form input[type=tel], #can_embed_form input[type=number] {
  color: white;
  border-color: white;
  border-radius: 0 !important;
  &::placeholder {
    color: white;
  }
}
.floatlabel-label-active, .floatlabel-label-focus {
  color: #d2a5ff !important;
}

.can_select.required.js-form-country {
  border: 3px solid white;
  width: 100%;
  color: white;
  padding: 6px 10px;
  .can_selectInner {
    position: relative;
    pointer-events: none;
    width: 100% !important;
    &::after {
      background-image: url(https://static.casablue.co/mijente/images/keyboard_arrow_down-24px-white.svg?123);
      background-repeat: no-repeat;
      background-position: right;
      display: block;
      position: absolute;
      content: '';
      height: 24px;
      width: 24px;
      right: 6px;
      top: calc(50% - 11px);
      transition: all 0.2s ease-in-out;
      transform: rotate(0deg);
    }
  }
}

select.required.can_select.js-form-country.hasCustomSelect {
  color: #07040a;
}

label.checkbox {
  display: inline-block;
}

#mobile_opt_in {
  background: #07040a;
}
#mobile_opt_in label input[type="checkbox"] {
  display: block;
  margin-right: 10px;
}

.international_link-wrap.js-international_link-wrap.mb10 {
  color: #ffbb3b  !important;
  cursor: pointer;
  font-size: 10px !important;
  text-transform: uppercase !important;
  font-family: ff-real-headline-pro,sans-serif;
  font-weight: 900;
  letter-spacing: .02em;
}

.can_thank_you-block:nth-child(2), .can_thank_you-block:nth-child(3) {
  display: none;
}

.can_embed #can_embed_form #can_thank_you h1 {
  color: white !important;
  margin-bottom: -50px;
}

a.share_button.share-facebook.left.mr15.js-facebook_link {
  display: inline-block;
  width: 49%;
  text-align: center;
  color: #5ff180;
}
a.share_button.share-twitter.left.mr15.js-twitter_link {
  display: inline-block;
  width: 49%;
  text-align: center;
  color: #5fc9f1;
}

#can_embed_form label.check_radio_label {
  font-size: 10px !important;
  margin-bottom: 0px;
  text-transform: uppercase !important;
}

#form_col2 input[type="submit"] {
  float: none !important;
  margin-top: 20px !important;
  position: relative;
  border-radius: 0 !important;
  &::before {
    // content: "";
    // background-image: url("https://thefrontline.org/wp-content/themes/frontline/assets/img/marker-orange.svg");
    // background-repeat: no-repeat;
    // background-size: contain;
    // width: 309px;
    // height: 110px;
    // position: absolute;
    // top: 65%;
    // left: 50%;
    // -webkit-transform: translate(-50%,-50%);
    // transform: translate(-50%,-50%);
    // -webkit-transition: all .35s;
    // transition: all .35s;  
  }
}


span.country_drop_wrap {
  margin-bottom: 20px !important;
}

#mobile_opt_in {
  padding: 0;
}

body.firefox {
  .pledge__heading span::after {
    bottom: -210px;
  }
}

.core_field:nth-child(2),
.core_field:nth-child(3),
.core_field:nth-child(5),
.core_field:nth-child(6) {
  display: inline-block;
  width: calc(50% - 2px);
}

#can_embed_form .check_radio_field label {
  font-size: 12px;
  input {
    margin-right: 3px;
    position: relative;
    top: 2px;
  }
}

body {
  overflow-x: hidden;
}