---
---

.hero__container {
  max-width: 1080px;
}

.hero__heading:before {
  @media (min-width: 768px) {
    left: 50%;
    transform: translate(-200px, 0px);
  }
}

.header__logo {
  @media (max-width: 767px) {
    margin: 0 auto;
  }
  img {
    width: 170px;
  }
}

.main__block.impact {
  background: white;
  color: #07040a;
  @media (min-width: 768px) {
    padding: 50px 20px;
  }
  @media (min-width: 1024px) {
    padding: 130px 20px;
    margin-bottom: 0px;
  }
  .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    align-items: center;
    gap: 0px;
    @media (min-width: 768px) {
      gap: 100px;
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1024px) {
      max-width: 850px;
    }
    @media (min-width: 1280px) {
      max-width: 1030px;
    }
  }
  .impact__heading {
    max-width: 530px;
    margin: 0 auto;
    padding: 0;
  }
  .impact__copy {
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }
    span {
      font-weight: bold;
    }
  }
}

.main__block.pledge {
  padding-top: 80px;
  @media (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 10px;
  }
  @media (min-width: 1024px) {
    padding-top: 160px;
  }
}

.hamburger {
  display: none !important;
}


.can_embed #can_embed_form {
  background: #07040a !important
}
#action_welcome_message_inner {
  color: white;
}

#form_col1-pagination input[type="submit"], #form_col2 input[type="submit"] {
  display: block !important;
}

.pledge__form label {
  color: white;
}
#can_embed_form input[type=text], #can_embed_form input[type=url], #can_embed_form input[type=email], #can_embed_form input[type=tel], #can_embed_form input[type=number]{
  color: white;
  border-color: white;
  border-radius: 0 !important;
  &::placeholder {
    color: white;
  }
}
.floatlabel-label-active, .floatlabel-label-focus {
  color: #d2a5ff !important;
}

.can_select.required.js-form-country {
  border: 3px solid white;
  width: 100%;
  color: white;
  padding: 6px 10px;
  .can_selectInner {
    position: relative;
    pointer-events: none;
    width: 100% !important;
    &::after {
      background-image: url(https://static.casablue.co/mijente/images/keyboard_arrow_down-24px-white.svg?123);
      background-repeat: no-repeat;
      background-position: right;
      display: block;
      position: absolute;
      content: '';
      height: 24px;
      width: 24px;
      right: 6px;
      top: calc(50% - 11px);
      transition: all 0.2s ease-in-out;
      transform: rotate(0deg);
    }
  }
}


select.required.can_select.js-form-country.hasCustomSelect {
  color: #07040a;
  //max-width: calc(100% - 40px) !important;
}

label.checkbox {
  display: inline-block;
}

#mobile_opt_in {
  background: #07040a;
}
#mobile_opt_in label input[type="checkbox"] {
  display: block;
  margin-right: 10px;
}

.international_link-wrap.js-international_link-wrap.mb10 {
  color: #ffbb3b  !important;
  cursor: pointer;
  font-size: 10px !important;
  text-transform: uppercase !important;
  font-family: ff-real-headline-pro,sans-serif;
  font-weight: 900;
  letter-spacing: .02em;
}

.can_thank_you-block:nth-child(2), .can_thank_you-block:nth-child(3) {
  display: none;
}

.can_embed #can_embed_form #can_thank_you h1 {
  color: white !important;
  margin-bottom: -50px;
}

a.share_button.share-facebook.left.mr15.js-facebook_link {
  display: inline-block;
  width: 49%;
  text-align: center;
  color: #5ff180;
}
a.share_button.share-twitter.left.mr15.js-twitter_link {
  display: inline-block;
  width: 49%;
  text-align: center;
  color: #5fc9f1;
}

#can_embed_form label.check_radio_label {
  font-size: 10px !important;
  margin-bottom: 0px;
  text-transform: uppercase !important;
}


#form_col2 input[type="submit"] {
  float: none !important;
  margin-top: 20px !important;
  position: relative;
  border-radius: 0 !important;
}


span.country_drop_wrap {
  margin-bottom: 20px !important;
}

#mobile_opt_in {
  padding: 0;
}

body.firefox {
  .pledge__heading span::after {
    bottom: -210px;
  }
}

.core_field:nth-child(2),
.core_field:nth-child(3),
.core_field:nth-child(5),
.core_field:nth-child(6) {
  display: inline-block;
  width: calc(50% - 2px);
}

#can_embed_form .check_radio_field label {
  font-size: 12px;
  input {
    margin-right: 3px;
    position: relative;
    top: 2px;
  }
}

body, html{
  overflow-x: hidden;
}

.pledge__form,
.main__block.pledge {
  overflow-x: hidden !important;
  max-width: 100%;
}

.hero {
  @media (max-width: 767px) {
    min-height: 75vh;
  }
}
.hero__container {
  margin: 0px auto 0;
}

#mobile_opt_in_default {
  font-weight: 300;
  font-size: 11px;
}

#mobile_opt_in {
  font-size: inherit;
  line-height: inherit;
}

// Dropdown
.pledge__form {
  @media (min-width: 768px) {
    height: 740px;
  }
}
body .cb-dropdown {
  position: relative;
  .controls.check_radio_field {
    position: absolute;
    background: black;
    border: 3px solid white;
    width: 100%;
    padding: 10px 16px;
    z-index: 10;
    top: 63px;
    label {
      display: block;
      line-height: 29px;
      cursor: pointer;
    }
  }
}

.select-race {
  border: 3px solid white;
  color: white;
  padding: 9px 16px;
  height: 50px;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  &::after {
    background-image: url(https://static.casablue.co/mijente/images/keyboard_arrow_down-24px-white.svg?123);
    background-repeat: no-repeat;
    background-position: right;
    display: block;
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    right: 6px;
    top: calc(50% - 11px);
    transition: all 0.2s ease-in-out;
    transform: rotate(0deg);
  }
}