<div id='can-form-area-election-defense-pledge' style='width: 100%'>
<form accept-charset="UTF-8" action="https://actionnetwork.org/forms/election-defense-pledge/answers" class="new_answer" id="new_answer" method="post" target="_blank" novalidate="novalidate">
  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="xtnTf6TLXdUk1pD7wjXlsQGQPxgSe1kgFeUQjmG4iWM="></div>
  <input type="hidden" name="version" value="v3">
  <input id="redirect" name="redirect" type="hidden" value="">
  <div id="form_col1">
     <li class="form_builder_output js-form_builder_output">
     </li>
     <li class="core_field">
        <div class="floatlabel-wrapper "><label for="form-first_name" class="floatlabel-label floatlabel-label-inactive">First Name </label><input id="form-first_name" name="answer[first_name]" placeholder="First Name " type="text" value="" class="floatlabel-input"></div>
     </li>
     <li class="core_field">
        <div class="floatlabel-wrapper "><label for="form-last_name" class="floatlabel-label floatlabel-label-inactive">Last Name </label><input id="form-last_name" name="answer[last_name]" placeholder="Last Name " type="text" value="" class="floatlabel-input"></div>
     </li>
     <li class="core_field">
        <div class="floatlabel-wrapper "><label for="form-email" class="floatlabel-label floatlabel-label-inactive">Email *</label><input class="required floatlabel-input" id="form-email" name="answer[email]" placeholder="Email *" type="email" value=""></div>
     </li>
     <li class="core_field">
        <div class="floatlabel-wrapper ">
           <label for="form-phone" class="floatlabel-label floatlabel-label-inactive">Mobile Number </label>
           <div class="iti">
              <div class="iti__flag-container">
                 <div class="iti__selected-flag" role="combobox" aria-owns="country-listbox" title="United States: +1">
                    <div class="iti__flag iti__us"></div>
                 </div>
              </div>
              <input id="form-phone" name="answer[phone]" placeholder="Mobile Number, (201) 555-0123" type="text" value="" class="floatlabel-input" autocomplete="off">
           </div>
        </div>
     </li>
     <li class="core_field">
        <div class="floatlabel-wrapper "><label for="form-zip_code" class="floatlabel-label floatlabel-label-inactive">Zip/Postal Code *</label><input class="required floatlabel-input" id="form-zip_code" name="answer[zip_code]" placeholder="Zip/Postal Code *" type="text" value=""></div>
     </li>
     <li class="control-group checkbox_group_wrap">
        <label class="control-label check_radio_label">Race</label>  
        <span class="controls check_radio_field">
        <label class="checkbox">
        <input type="checkbox" name="Race_Black" value="1" class=" checkbox_group" data-always="false">
        Black
        </label>
        <label class="checkbox">
        <input type="checkbox" name="Race_Afro-Latinx" value="1" class=" checkbox_group" data-always="false">
        Afro-Latinx
        </label>
        <label class="checkbox">
        <input type="checkbox" name="Race_Latinx" value="1" class=" checkbox_group" data-always="false">
        Latinx
        </label>
        <label class="checkbox">
        <input type="checkbox" name="Race_Asian" value="1" class=" checkbox_group" data-always="false">
        Asian
        </label>
        <label class="checkbox">
        <input type="checkbox" name="Race_South Asian" value="1" class=" checkbox_group" data-always="false">
        South Asian
        </label>
        <label class="checkbox">
        <input type="checkbox" name="Race_Pacific Islander" value="1" class=" checkbox_group" data-always="false">
        Pacific Islander
        </label>
        <label class="checkbox">
        <input type="checkbox" name="Race_Middle Eastern" value="1" class=" checkbox_group" data-always="false">
        Middle Eastern
        </label>
        <label class="checkbox">
        <input type="checkbox" name="Race_Afro-Caribbean" value="1" class=" checkbox_group" data-always="false">
        Afro-Caribbean
        </label>
        <label class="checkbox">
        <input type="checkbox" name="Race_Afro-Native" value="1" class=" checkbox_group" data-always="false">
        Afro-Native
        </label>
        <label class="checkbox">
        <input type="checkbox" name="Race_Afro-Asian" value="1" class=" checkbox_group" data-always="false">
        Afro-Asian
        </label>
        <label class="checkbox">
        <input type="checkbox" name="Race_Indigenous" value="1" class=" checkbox_group" data-always="false">
        Indigenous
        </label>
        <label class="checkbox">
        <input type="checkbox" name="Race_White" value="1" class=" checkbox_group" data-always="false">
        White
        </label>
        <label class="checkbox">
        <input type="checkbox" name="Race_Other" value="1" class=" checkbox_group" data-always="false">
        Other
        </label>
        </span>
     </li>
     <span class="international_link-wrap js-international_link-wrap mb10">
     <a class="international_link js-international_link">Not in the US?</a>
     </span>
     <span class="country_drop_wrap js-country_drop_wrap hide clear">
        <span class="block relative">
           <select class="required can_select js-form-country hasCustomSelect" id="form-country" name="answer[country]" style="appearance: menulist-button; width: 480px; position: absolute; opacity: 0; height: 50px; font-size: 20px;">
              <option value="">Country *</option>
              <option value="AF">Afghanistan</option>
              <option value="AX">Aland Islands</option>
              <option value="AL">Albania</option>
              <option value="DZ">Algeria</option>
              <option value="AS">American Samoa</option>
              <option value="AD">Andorra</option>
              <option value="AO">Angola</option>
              <option value="AI">Anguilla</option>
              <option value="AQ">Antarctica</option>
              <option value="AG">Antigua and Barbuda</option>
              <option value="AR">Argentina</option>
              <option value="AM">Armenia</option>
              <option value="AW">Aruba</option>
              <option value="AU">Australia</option>
              <option value="AT">Austria</option>
              <option value="AZ">Azerbaijan</option>
              <option value="BS">Bahamas</option>
              <option value="BH">Bahrain</option>
              <option value="BD">Bangladesh</option>
              <option value="BB">Barbados</option>
              <option value="BY">Belarus</option>
              <option value="BE">Belgium</option>
              <option value="BZ">Belize</option>
              <option value="BJ">Benin</option>
              <option value="BM">Bermuda</option>
              <option value="BT">Bhutan</option>
              <option value="BO">Bolivia, Plurinational State of</option>
              <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
              <option value="BA">Bosnia and Herzegovina</option>
              <option value="BW">Botswana</option>
              <option value="BV">Bouvet Island</option>
              <option value="BR">Brazil</option>
              <option value="IO">British Indian Ocean Territory</option>
              <option value="BN">Brunei Darussalam</option>
              <option value="BG">Bulgaria</option>
              <option value="BF">Burkina Faso</option>
              <option value="BI">Burundi</option>
              <option value="KH">Cambodia</option>
              <option value="CM">Cameroon</option>
              <option value="CA">Canada</option>
              <option value="CV">Cabo Verde</option>
              <option value="KY">Cayman Islands</option>
              <option value="CF">Central African Republic</option>
              <option value="TD">Chad</option>
              <option value="CL">Chile</option>
              <option value="CN">China</option>
              <option value="CX">Christmas Island</option>
              <option value="CC">Cocos (Keeling) Islands</option>
              <option value="CO">Colombia</option>
              <option value="KM">Comoros</option>
              <option value="CG">Congo</option>
              <option value="CD">Congo, the Democratic Republic of the</option>
              <option value="CK">Cook Islands</option>
              <option value="CR">Costa Rica</option>
              <option value="CI">Côte d'Ivoire</option>
              <option value="HR">Croatia</option>
              <option value="CU">Cuba</option>
              <option value="CW">Curaçao</option>
              <option value="CY">Cyprus</option>
              <option value="CZ">Czech Republic</option>
              <option value="DK">Denmark</option>
              <option value="DJ">Djibouti</option>
              <option value="DM">Dominica</option>
              <option value="DO">Dominican Republic</option>
              <option value="EC">Ecuador</option>
              <option value="EG">Egypt</option>
              <option value="SV">El Salvador</option>
              <option value="GQ">Equatorial Guinea</option>
              <option value="ER">Eritrea</option>
              <option value="EE">Estonia</option>
              <option value="ET">Ethiopia</option>
              <option value="FK">Falkland Islands (Malvinas)</option>
              <option value="FO">Faroe Islands</option>
              <option value="FJ">Fiji</option>
              <option value="FI">Finland</option>
              <option value="FR">France</option>
              <option value="GF">French Guiana</option>
              <option value="PF">French Polynesia</option>
              <option value="TF">French Southern Territories</option>
              <option value="GA">Gabon</option>
              <option value="GM">Gambia</option>
              <option value="GE">Georgia</option>
              <option value="DE">Germany</option>
              <option value="GH">Ghana</option>
              <option value="GI">Gibraltar</option>
              <option value="GR">Greece</option>
              <option value="GL">Greenland</option>
              <option value="GD">Grenada</option>
              <option value="GP">Guadeloupe</option>
              <option value="GU">Guam</option>
              <option value="GT">Guatemala</option>
              <option value="GG">Guernsey</option>
              <option value="GN">Guinea</option>
              <option value="GW">Guinea-Bissau</option>
              <option value="GY">Guyana</option>
              <option value="HT">Haiti</option>
              <option value="HM">Heard Island and McDonald Islands</option>
              <option value="VA">Holy See (Vatican City State)</option>
              <option value="HN">Honduras</option>
              <option value="HK">Hong Kong</option>
              <option value="HU">Hungary</option>
              <option value="IS">Iceland</option>
              <option value="IN">India</option>
              <option value="ID">Indonesia</option>
              <option value="IR">Iran, Islamic Republic of</option>
              <option value="IQ">Iraq</option>
              <option value="IE">Ireland</option>
              <option value="IM">Isle of Man</option>
              <option value="IL">Israel</option>
              <option value="IT">Italy</option>
              <option value="JM">Jamaica</option>
              <option value="JP">Japan</option>
              <option value="JE">Jersey</option>
              <option value="JO">Jordan</option>
              <option value="KZ">Kazakhstan</option>
              <option value="KE">Kenya</option>
              <option value="KI">Kiribati</option>
              <option value="KP">Korea, Democratic People's Republic of</option>
              <option value="KR">Korea, Republic of</option>
              <option value="KW">Kuwait</option>
              <option value="KG">Kyrgyzstan</option>
              <option value="LA">Lao People's Democratic Republic</option>
              <option value="LV">Latvia</option>
              <option value="LB">Lebanon</option>
              <option value="LS">Lesotho</option>
              <option value="LR">Liberia</option>
              <option value="LY">Libya</option>
              <option value="LI">Liechtenstein</option>
              <option value="LT">Lithuania</option>
              <option value="LU">Luxembourg</option>
              <option value="MO">Macao</option>
              <option value="MK">Macedonia, the former Yugoslav Republic of</option>
              <option value="MG">Madagascar</option>
              <option value="MW">Malawi</option>
              <option value="MY">Malaysia</option>
              <option value="MV">Maldives</option>
              <option value="ML">Mali</option>
              <option value="MT">Malta</option>
              <option value="MH">Marshall Islands</option>
              <option value="MQ">Martinique</option>
              <option value="MR">Mauritania</option>
              <option value="MU">Mauritius</option>
              <option value="YT">Mayotte</option>
              <option value="MX">Mexico</option>
              <option value="FM">Micronesia, Federated States of</option>
              <option value="MD">Moldova, Republic of</option>
              <option value="MC">Monaco</option>
              <option value="MN">Mongolia</option>
              <option value="ME">Montenegro</option>
              <option value="MS">Montserrat</option>
              <option value="MA">Morocco</option>
              <option value="MZ">Mozambique</option>
              <option value="MM">Myanmar</option>
              <option value="NA">Namibia</option>
              <option value="NR">Nauru</option>
              <option value="NP">Nepal</option>
              <option value="NL">Netherlands</option>
              <option value="NC">New Caledonia</option>
              <option value="NZ">New Zealand</option>
              <option value="NI">Nicaragua</option>
              <option value="NE">Niger</option>
              <option value="NG">Nigeria</option>
              <option value="NU">Niue</option>
              <option value="NF">Norfolk Island</option>
              <option value="MP">Northern Mariana Islands</option>
              <option value="NO">Norway</option>
              <option value="OM">Oman</option>
              <option value="PK">Pakistan</option>
              <option value="PW">Palau</option>
              <option value="PS">Palestine, State of</option>
              <option value="PA">Panama</option>
              <option value="PG">Papua New Guinea</option>
              <option value="PY">Paraguay</option>
              <option value="PE">Peru</option>
              <option value="PH">Philippines</option>
              <option value="PN">Pitcairn</option>
              <option value="PL">Poland</option>
              <option value="PT">Portugal</option>
              <option value="PR">Puerto Rico</option>
              <option value="QA">Qatar</option>
              <option value="RE">Réunion</option>
              <option value="RO">Romania</option>
              <option value="RU">Russian Federation</option>
              <option value="RW">Rwanda</option>
              <option value="BL">Saint Barthélemy</option>
              <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
              <option value="KN">Saint Kitts and Nevis</option>
              <option value="LC">Saint Lucia</option>
              <option value="MF">Saint Martin (French part)</option>
              <option value="PM">Saint Pierre and Miquelon</option>
              <option value="VC">Saint Vincent and the Grenadines</option>
              <option value="WS">Samoa</option>
              <option value="SM">San Marino</option>
              <option value="ST">Sao Tome and Principe</option>
              <option value="SA">Saudi Arabia</option>
              <option value="SN">Senegal</option>
              <option value="RS">Serbia</option>
              <option value="SC">Seychelles</option>
              <option value="SL">Sierra Leone</option>
              <option value="SG">Singapore</option>
              <option value="SX">Sint Maarten (Dutch part)</option>
              <option value="SK">Slovakia</option>
              <option value="SI">Slovenia</option>
              <option value="SB">Solomon Islands</option>
              <option value="SO">Somalia</option>
              <option value="ZA">South Africa</option>
              <option value="GS">South Georgia and the South Sandwich Islands</option>
              <option value="SS">South Sudan</option>
              <option value="ES">Spain</option>
              <option value="LK">Sri Lanka</option>
              <option value="SD">Sudan</option>
              <option value="SR">Suriname</option>
              <option value="SJ">Svalbard and Jan Mayen</option>
              <option value="SZ">Swaziland</option>
              <option value="SE">Sweden</option>
              <option value="CH">Switzerland</option>
              <option value="SY">Syrian Arab Republic</option>
              <option value="TW">Taiwan</option>
              <option value="TJ">Tajikistan</option>
              <option value="TZ">Tanzania, United Republic of</option>
              <option value="TH">Thailand</option>
              <option value="TL">Timor-Leste</option>
              <option value="TG">Togo</option>
              <option value="TK">Tokelau</option>
              <option value="TO">Tonga</option>
              <option value="TT">Trinidad and Tobago</option>
              <option value="TN">Tunisia</option>
              <option value="TR">Turkey</option>
              <option value="TM">Turkmenistan</option>
              <option value="TC">Turks and Caicos Islands</option>
              <option value="TV">Tuvalu</option>
              <option value="UG">Uganda</option>
              <option value="UA">Ukraine</option>
              <option value="AE">United Arab Emirates</option>
              <option value="GB">United Kingdom</option>
              <option value="US" selected="selected">United States</option>
              <option value="UM">United States Minor Outlying Islands</option>
              <option value="UY">Uruguay</option>
              <option value="UZ">Uzbekistan</option>
              <option value="VU">Vanuatu</option>
              <option value="VE">Venezuela, Bolivarian Republic of</option>
              <option value="VN">Viet Nam</option>
              <option value="VG">Virgin Islands, British</option>
              <option value="VI">Virgin Islands, U.S.</option>
              <option value="WF">Wallis and Futuna</option>
              <option value="EH">Western Sahara</option>
              <option value="YE">Yemen</option>
              <option value="ZM">Zambia</option>
              <option value="ZW">Zimbabwe</option>
           </select>
           <span class="can_select required js-form-country" style="display: inline-block;"><span class="can_selectInner" style="width: 454px; display: inline-block;">United States</span></span>
        </span>
     </span>
     <li class="control-group checkbox_group_wrap">
        <label class="control-label check_radio_label"></label>  
        <span class="controls check_radio_field">
        <label class="checkbox">
        <input type="checkbox" name="I am a veteran of the armed forces_I am a veteran of the armed forces" value="1" class=" checkbox_group" data-always="false">
        I am a veteran of the armed forces
        </label>
        </span>
     </li>
     <li class="control-group checkbox_group_wrap" id="mobile_opt_in">
        <label class="control-label check_radio_label"></label>
        <span class="controls check_radio_field">
        <label class="checkbox">
        <input type="checkbox" name="subscription[sms_group]" value="192906" id="mobile_opt_in_checkbox" class="checkbox_group">
        <input type="hidden" name="subscription[sms_sub_group_id]" value="192906">
        <span id="mobile_opt_in_default">Opt in to mobile messages from Election Defenders. Message and data rates apply. Reply STOP to unsubscribe.</span>
        </label>
        </span>
     </li>
  </div>
  <div id="form_col2">
     <!--
        <textarea cols="40" id="form-comments" name="answer[message_to_target]" placeholder="Your comment" rows="20">
        </textarea>
        -->
     <input class="" name="commit" type="submit" value="Add Your Name">
     <img src="https://actionnetwork.org/images/spinner8.png" class="ajax-loading" alt="Loading">
     <div id="d_sharing" class="js-d_sharing">
        <ul>
           <li>
              <label>
              <input type="checkbox" name="subscription[group]" value="192906" id="name_optin1" checked="checked">
              <input type="hidden" name="subscription[sub_group_id]" value="192906">
              Opt in to updates from Election Defenders
              </label>
           </li>
           <input type="hidden" name="subscription[http_referer]" value="localhost">
           <input id="subscription_source" name="subscription[source]" type="hidden" value="widget">
        </ul>
        <input class="js-tag_list" id="answer_tag_list" name="answer[tag_list]" type="hidden">
     </div>
  </div>
  <div class="clear"></div>
</form>

</div>

<div id="action_info">
  <div class="action_owner">
    <div class="action_info_user js-action_info_user"><strong>Sponsored by:</strong> <a target="_blank" href="https://actionnetwork.org/groups/election-defenders">Election Defenders</a></div>
     
    <div class="clear"></div>
  </div>
</div>

<div id="logo_wrap">
  <a href="https://actionnetwork.org">
    <img src="https://actionnetwork.org/images/logo_sm.png" alt="Action Network">
  </a>
</div>